# Normaliza fim de linha entre Windows e Mac
* text=auto
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.pdf binary
*.docx binary
*.pptx binary
*.xlsx binary
*.woff binary
*.woff2 binary
*.ttf binary
*.mp4 binary
